@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161618;
  --foreground: #f2f5f4;
  --gray-700: #2d2d2d;
  --gray-800: #1f1f1f;
  --gray-900: #141414;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica', 'Bitstream Vera Sans', sans-serif;
}
